body {
    background-color: #5b8258;
}

.header-image {
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 1;
    width: 8%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5b8258;
}

.card-container {
    display: flex;
    margin-right: 0;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    background-color: #f8f9fa;
    border-radius: 2%;
    margin-left: 9%;
    box-shadow: 0 0 2px brown;
}

.custom-image {
    width: 43%;
    border-radius: 2%;
    height: auto;
    margin-right: 0;
    box-shadow: 0 0 3px brown;
}

.form-group {
    flex-grow: 1;
}

/* Geçersiz giriş alanlarını belirginleştirmek için bir dizi stil özelliği sağlar ve kullanıcının hangi alanların hatalı olduğunu kolayca görmesini sağlar. */

.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23dc3545'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

button.btn-primary {
    background-color: #5b8258;
    border-color: #8B4513;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    margin-bottom: 25px;
}

button.btn-primary:hover {
    background-color: #8B4513;
    border-color: #8B4513;
}